<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Search Box Practice #3</title>


<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">


<script type="text/javascript">

 function doit_onkeypress(event){
                if (event.keyCode == 13 || event.which == 13){
                    alert("Please press Search to execute. Enter key will not work!!");
                    e.preventDefault();
                    return;
                }
            }


    $(function(){
	$('#sent').click(function(e){
	    e.preventDefault();    // This prevents form from being sumbitted

	   var search = $('#search').val();
		$('#caution').hide();
		$('#load').show();





    $.ajax({
			url: '/',
			data: $('form').serialize(),
			type: 'POST',


			success: function(response){
			//e.preventDefault();

			$('#load').hide();
			    $('#dialog').show();
			console.log(response);
			var data = JSON.parse(response);
			var trHTML = '';

                    trHTML += '<table border="1" style=" width: 200px;margin-left: auto;margin-right: auto;" id="tabb"><tr><th>Site</th><td>' + data.targetSite + '</td></tr><tr><th>ResponseCode</th><td>' + data.responseCode + '</td></tr><tr><th>Site Title</th><td>' + data.title + '</td></tr><tr><th>Title Length</th><td>' + data.titleLength + '</td></tr><tr><th>Mobile Friendly</th><td>' + data.ismobile + '</td></tr><tr><th>Site Score</th><td>' + data.siteScore + '</td></tr></table>';


        $('#dialog').append(trHTML);



			},
			error: function(error){
				console.log(error);
			}
		});

	});
});


</script>

    <link rel="stylesheet" href="/static/css/searchbox.css">

  
</head>

<body>

<label id ="caution">****PLEASE CLICK SEARCH..Pressing Enter will not work!!****</label>
<input type="image" src="/static/img/Ellipsis.gif" id="load" style="display:none;height:100px;width:100px;">


 <form class="form-wrapper cf" role="form">
     <input type="text" name="searchtext" id="search" onkeypress="javascript:doit_onkeypress(event);" placeholder="Search here..." required>
	  <button id="sent" type="button">Search</button>
</form>

</body>
<div id="dialog" title="Analysis" style="display:none; ">
	<!--<table id="location" border='1'  >
    <tr>
        <th>Site</th>
         <th>Response Code</th>
        <th>Title</th>
        <th>Title Length</th>
        <th>Mobile Friendly</th>
        <th>Site Score</th>

    </tr>
</table>-->
</div>


</html>
