<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Search Box Practice #3</title>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
-->

<script type="text/javascript">

 function doit_onkeypress(event){
                if (event.keyCode == 13 || event.which == 13){
                    alert("Please press Search to execute. Enter key will not work!!");
                    e.preventDefault();
                    return;
                }
            }

    $(function(){
	$('#sent').click(function(e){
	    e.preventDefault();    // This prevents form from being sumbitted

	   var search = $('#search').val();
		$('#load').show();
		$('#caution').hide();



    $.ajax({
			url: '/',
			data: $('form').serialize(),
			type: 'POST',


			success: function(response){
			//e.preventDefault();

			$('#load').hide();
			$('#location').show();
			console.log(response);
			var data = JSON.parse(response);
			var trHTML = '';

            //$.each(response.Countries, function (i, item) {

            trHTML += '<tr><td>' + data.targetSite + '</td><td>' + data.responseCode + '</td><td>' + data.title + '</td><td>' + data.titleLength + '</td><td>' + data.ismobile + '</td><td>' + data.siteScore + '</td></tr>';
        //});

        $('#location').append(trHTML);



			},
			error: function(error){
				console.log(error);
			}
		});

	});
});


</script>

    <link rel="stylesheet" href="/static/css/searchbox.css">

  
</head>

<body>

<label id ="caution">****PLEASE CLICK SEARCH..Pressing Enter will not work!!****</label>
<input type="image" src="/static/img/Wedges.gif" id="load" style="display:none;">


 <form class="form-wrapper cf" role="form">
     <input type="text" name="searchtext" id="search" onkeypress="javascript:doit_onkeypress(event);" placeholder="Search here..." required>
	  <button id="sent" type="button">Search</button>
</form>

	<!--	<table id="location" border='1' class="table" style="display:none;">
    <tr>
        <th>Site</th>
         <th>Response Code</th>
        <th>Title</th>
        <th>Title Length</th>
        <th>Mobile Friendly</th>
        <th>Site Score</th>

    </tr>
</table>-->
<div id="dialog" title="Basic dialog">
	<table id="location" border='1'  style="display:none;">
    <tr>
        <th>Site</th>
         <th>Response Code</th>
        <th>Title</th>
        <th>Title Length</th>
        <th>Mobile Friendly</th>
        <th>Site Score</th>

    </tr>
</table>


</body>
</html>
